# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Pycharm\Nexperia_train_txt\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
